@media (max-width: 768px) {
  header {
    .container {
      h1 {
        font-size: 6em;
      }
    }
  }
}

@media (max-width: 425px) {
  header {
    .container {
      h1 {
        font-size: 5em;
      }
    }
  }
}

@media (max-width: 320px) {
  header {
    .container {
      h1 {
        font-size: 4em;
      }
    }
  }
}
